body {
  width: 65%;
  align-content: center;
  margin: 0 auto;
  color: #6A6A6A;
  font-family: "Helvetica";
  line-height: 1.5;
  font-weight: 100;
  padding-bottom: 100px;
}

h1 {
  
  color:darksalmon;
  font-weight: 300;
  font-style: italic;
  margin: 50px 0 .5px;
  text-align: center;
  font-size:40px;
  line-height: 1;
}
	 
h2 {
  
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  line-height: 1;
}
	  
h3 {
 
  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

a{
  
 text-decoration:none;
 color: darksalmon;
}

a:hover{

 color:#d06267;
}

p {
	text-align: left;
}

table, th, td {
border: 1px solid;
border-color: #6A6A6A;
border-collapse: collapse;
padding: 15px;
text-align: center;
}

table {
	width: 100%;
	table-layout: fixed;
}
